@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* Primary Color palette based on #2c333e */
    --color-primary-950: #030405;
    --color-primary-900: #090a0c;
    --color-primary-800: #121419;
    --color-primary-700: #1a1f25;
    --color-primary-600: #232932;
    --color-primary-500: #2c333e; /* base */
    --color-primary-400: #565c65;
    --color-primary-300: #80858b;
    --color-primary-200: #abadb2;
    --color-primary-100: #d5d6d8;
    --color-primary-50: #f0f1f2;

 
    /* Secondary color palette based on #ebeae3 */
    --color-secondary-50:  #fbfaf8;
    --color-secondary-100: #f6f5f0;
    --color-secondary-200: #f0ebe4;
    --color-secondary-300: #e7e2d8;
    --color-secondary-400: #e0d8ce;
    --color-secondary-500: #ebeae3; /* base */
    --color-secondary-600: #d3cbbc;
    --color-secondary-700: #b9a997;
    --color-secondary-800: #9a8063;
    --color-secondary-900: #7b654f;
    --color-secondary-950: #4b3f36;

    /* Convenience aliases */
    --color-primary-default: var(--color-primary-500);
    --color-secondary-default: var(--color-secondary-500);
    
    /* Fonts */
    --font-arvo: "Inter", sans-serif;
    --font-lato: "Inter", sans-serif;
    
    /* --font-arvo: "Arvo", serif;
    --font-lato: "Lato", sans-serif;
    --font-arima: "Arima", system-ui;
    --font-mulish: "Mulish", sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-source-serif: "Source Serif 4", serif; 
    --font-fugaz: "Fugaz One", sans-serif;
    --font-work-sans: "Work Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-syne: "Syne", sans-serif;
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --font-space-mono: "Space Mono", monospace;
    --font-open-sans: "Open Sans", sans-serif;
    --font-varela: "Varela", sans-serif;
    --font-archivo: "Archivo", sans-serif;
    */

}

html {
    scroll-behavior: smooth;
}
